* {
    box-sizing: border-box;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: 100dvh;
    border: none;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px white;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .logo-parent,
    .nav {
        background-image: 
            linear-gradient(rgb(0 0 0 / 0.5) 0 0),
            url('https://jasuluvds1.ufs.sh/f/AfU8WOKdIOzy4SyrRsfCAhrKHksQmcIOwaDW3fujbJx0dF2P');
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        box-shadow: 0 0 20px rgb(0 0 0 / 0.5);
    }

    .logo-parent {
        width: 80px;
        height: 80px;
        border-radius: 10px 10px 10px 20px;

        .logo {
            padding: 10px;
            width: 80px;
            height: 80px;
            border: none;
        }
    }

    .nav {
        flex: 1;
        padding: 0 20px 0 20px;
        border-radius: 10px 10px 20px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;

        a.button {
            padding: 0.5rem 1rem;
            color: black;
            background-color: lightblue;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            box-shadow: 0 0 10px lightblue;

            &:focus {
                border-width: 2px;
                outline: none;
            }

            &:visited {
                background-color: mediumaquamarine;
                box-shadow: 0 0 10px mediumaquamarine;
            }

            &[data-current="true"] {
                color: white;
                background-color: steelblue;
                box-shadow: 0 0 10px steelblue;
            }
        }
    }
}

.main {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 20px white;

    .main-content {
        height: 100%;
        color: white;
        background-image: 
            linear-gradient(rgb(0 0 0 / 0.5) 0 0),
            url('https://jasuluvds1.ufs.sh/f/AfU8WOKdIOzy4SyrRsfCAhrKHksQmcIOwaDW3fujbJx0dF2P');
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        border-radius: 20px 20px 10px 10px;
        box-shadow: 0 0 20px rgb(0 0 0 / 0.5);

        h1 {
            padding: 20px;
            text-align: center;
        }
    }
}