* {
    box-sizing: border-box;
    border: solid black 1px;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: calc(100% - 20px);
    max-height: 100dvh;
    border: none;
}

body {
/*    display: flex;    */
    background-image: url('https://jasuluvds1.ufs.sh/f/AfU8WOKdIOzy4SyrRsfCAhrKHksQmcIOwaDW3fujbJx0dF2P');
    background-position: center;
    background-size: cover;
}

header {
    padding: 20px;
    width: 100%;
/*    height: 80px;    */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    section {
        width: 80px;
        height: 80px;

        img {
            width: 80px;
            height: 80px;
            border: hidden;
        }
    }

    nav {
        flex: 1;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;

        a.button {
            padding: 0.5rem 1rem;
            /* height: 20px; */
            /* width: 60px; */
            color: black;
            background-color: lightblue;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:focus {
                border: solid black 2px;
                outline: none;
            }

            &:visited {
                color: white;
                background-color: mediumaquamarine;
            }
        }
    }
}
